<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.HelloWord"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".LinearActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".SecondActivity"
                  android:label="Segundo Activity">
        </activity>
        <activity android:name=".TableActivity"
                  android:label="TABLA Activity">
        </activity>
        <receiver android:name=".HelloBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED">

                </action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
